In [16]:
#csvファイルの名前 例)abcde.csv なら "abcde"
#Label-Analysis からhomcloudに入れる用のtxtを出す
name="111d4"

In [17]:
import math
import numpy as np
import pandas as pd
DATA_DIR = "../data/model data/"
CACHE_DIR = "../data/cache/"
IMAGE_DIR = "../data/images/"
INVERSE_DIR = "../data/Inverse analysis/"
EXCEL_DIR = "../data/excel/"
PKL_DIR = "../data/pkl/"

In [18]:
def convert_csv_to_pkl(filename):
    df = pd.read_csv(f'{EXCEL_DIR}{filename}.csv',header=1)
    df.to_pickle(f'{PKL_DIR}{filename}.pkl')

#以下 convert_csv_to_pkl(filename) でcsv読み込み

convert_csv_to_pkl(name)

In [19]:
df=pd.read_pickle(f'{PKL_DIR}{name}.pkl')
df

,EqDiameter (?m),Volume3d (?m^3),Area3d (?m^2),BaryCenterX (?m),BaryCenterY (?m),BaryCenterZ (?m),Mean,sphericity,index
0,3.04006,14.71110,29.8928,1631.4300,80.1387,0.603871,1,0.971289,1
1,6.45675,140.94200,144.5360,1634.6000,87.1551,1.155560,2,0.906150,2
2,9.12381,397.67500,290.6690,1374.2400,104.7820,1.906250,3,0.899714,3
3,9.05433,388.65800,317.4370,1854.9500,196.8980,1.363810,4,0.811344,4
4,10.59700,623.08700,367.5110,1502.9500,362.8540,3.720590,5,0.959945,5
...,...,...,...,...,...,...,...,...,...
528,7.34942,207.85400,209.1290,1456.4700,306.0890,479.395000,529,0.811411,529
529,3.44217,21.35480,39.5593,1093.9400,480.2200,480.012000,530,0.940949,530
530,2.66994,9.96559,22.8722,1889.4200,698.6940,480.034000,531,0.979140,531
531,3.85072,29.89680,54.8092,421.7080,278.2620,480.084000,532,0.849924,532
532,2.01299,4.27097,12.2990,70.2867,730.1670,480.393000,533,1.035060,533

In [20]:
se=pd.Series(df['Volume3d (?m^3) '] ,dtype='float64')
def volume_to_radius2(x):
    return float((x*3/(4*math.pi))**(2/3))
df["radius2"]=se.map(volume_to_radius2)
df

,EqDiameter (?m),Volume3d (?m^3),Area3d (?m^2),BaryCenterX (?m),BaryCenterY (?m),BaryCenterZ (?m),Mean,sphericity,index,radius2
0,3.04006,14.71110,29.8928,1631.4300,80.1387,0.603871,1,0.971289,1,2.310491
1,6.45675,140.94200,144.5360,1634.6000,87.1551,1.155560,2,0.906150,2,10.422403
2,9.12381,397.67500,290.6690,1374.2400,104.7820,1.906250,3,0.899714,3,20.811008
3,9.05433,388.65800,317.4370,1854.9500,196.8980,1.363810,4,0.811344,4,20.495224
4,10.59700,623.08700,367.5110,1502.9500,362.8540,3.720590,5,0.959945,5,28.074157
...,...,...,...,...,...,...,...,...,...,...
528,7.34942,207.85400,209.1290,1456.4700,306.0890,479.395000,529,0.811411,529,13.503505
529,3.44217,21.35480,39.5593,1093.9400,480.2200,480.012000,530,0.940949,530,2.962133
530,2.66994,9.96559,22.8722,1889.4200,698.6940,480.034000,531,0.979140,531,1.782145
531,3.85072,29.89680,54.8092,421.7080,278.2620,480.084000,532,0.849924,532,3.707013
532,2.01299,4.27097,12.2990,70.2867,730.1670,480.393000,533,1.035060,533,1.013037

In [21]:
df.rename(columns={"BaryCenterX (?m) ": 'CenterX'}, inplace=True)
df.rename(columns={"BaryCenterY (?m) ": 'CenterY'}, inplace=True)
df.rename(columns={"BaryCenterZ (?m) ": 'CenterZ'}, inplace=True)

In [22]:
df_2=df

In [23]:
base_df=df_2[["CenterX","CenterY","CenterZ","radius2"]]
base_df

       CenterX   CenterY     CenterZ    radius2
0    1631.4300   80.1387    0.603871   2.310491
1    1634.6000   87.1551    1.155560  10.422403
2    1374.2400  104.7820    1.906250  20.811008
3    1854.9500  196.8980    1.363810  20.495224
4    1502.9500  362.8540    3.720590  28.074157
..         ...       ...         ...        ...
528  1456.4700  306.0890  479.395000  13.503505
529  1093.9400  480.2200  480.012000   2.962133
530  1889.4200  698.6940  480.034000   1.782145
531   421.7080  278.2620  480.084000   3.707013
532    70.2867  730.1670  480.393000   1.013037

[533 rows x 4 columns]

In [24]:
base_df.to_csv(f'{DATA_DIR}{name}.txt', sep='\t',index=False,header=False)
base_df

       CenterX   CenterY     CenterZ    radius2
0    1631.4300   80.1387    0.603871   2.310491
1    1634.6000   87.1551    1.155560  10.422403
2    1374.2400  104.7820    1.906250  20.811008
3    1854.9500  196.8980    1.363810  20.495224
4    1502.9500  362.8540    3.720590  28.074157
..         ...       ...         ...        ...
528  1456.4700  306.0890  479.395000  13.503505
529  1093.9400  480.2200  480.012000   2.962133
530  1889.4200  698.6940  480.034000   1.782145
531   421.7080  278.2620  480.084000   3.707013
532    70.2867  730.1670  480.393000   1.013037

[533 rows x 4 columns]