In [2]:
#xyzr^2のtxtから、b d bp1 dp1 dp2の形式のcsvに変換するコード(pd0)
filename='before_Al'

In [3]:
EXCEL_DIR = "../data/excel/"
DATA_DIR = "../data/model data/"
CACHE_DIR = "../data/cache/"

In [4]:
import homcloud.interface as hc  # HomCloudのインターフェス
import numpy as np
import matplotlib.pyplot as plt
import homcloud.paraview_interface as pv
import pandas as pd

#pdgm file
pointcloud = np.loadtxt('{}{}.txt'.format(DATA_DIR,filename))
pointcloud.shape
hc.PDList.from_alpha_filtration(pointcloud, save_to="{}{}.pdgm".format(CACHE_DIR,filename),save_boundary_map=True,weight=True,no_squared=True)

#pd1
pdlist = hc.PDList("{}{}.pdgm".format(CACHE_DIR,filename))
pd0 = pdlist.dth_diagram(0)
np.savetxt('{}{}_b_pd0.txt'.format(CACHE_DIR,filename),pd0.births,header='b')
np.savetxt('{}{}_d_pd0.txt'.format(CACHE_DIR,filename),pd0.deaths,header='d')

print("end")

end

In [5]:
B=pd.Series(list(pd0.births))
D=pd.Series(list(pd0.deaths))
B_P=pd.Series(pd0.birth_positions)
print(len(B_P[0]))
L=len(pd0.births)

1

In [6]:
B_P_name=["Birth_Position_1_X","Birth_Position_1_Y","Birth_Position_1_Z"]
data_B_P_1_x=[]
data_B_P_1_y=[]
data_B_P_1_z=[]
for i in range(L):
    data_B_P_1_x.append(B_P[i][0][0])
    data_B_P_1_y.append(B_P[i][0][1])
    data_B_P_1_z.append(B_P[i][0][2])
series_1_x = pd.Series(data=data_B_P_1_x)
series_1_y = pd.Series(data=data_B_P_1_y)
series_1_z = pd.Series(data=data_B_P_1_z)

In [7]:
df=pd.DataFrame(B)
df_=df.rename(columns={0:"Birth"},inplace=True)
df["Death"]=D
df.head()

        Birth       Death
0 -149.486092 -117.558970
1 -120.929424  -63.183917
2  -53.969427  -52.928207
3  -59.401041  -52.901534
4  -62.903082  -51.385061

In [8]:
D_P=pd.Series(pd0.death_positions)
D_P

0       [[4902.0, 9690.0, 7144.0], [4978.0, 9652.0, 73...
1       [[7486.0, 9120.0, 5434.0], [7372.0, 9310.0, 55...
2       [[5320.0, 3610.0, 4408.0], [5738.0, 3914.0, 43...
3       [[5320.0, 1672.0, 12312.0], [5282.0, 1710.0, 1...
4       [[6080.0, 3686.0, 5434.0], [6042.0, 3800.0, 52...
                              ...
2037    [[4256.0, 9576.0, 11362.0], [5092.0, 9842.0, 1...
2038    [[8854.0, 8056.0, 9272.0], [8056.0, 7638.0, 95...
2039    [[4940.0, 1140.0, 10792.0], [4408.0, 950.0, 11...
2040    [[8360.0, 7562.0, 5966.0], [8740.0, 7068.0, 66...
2041    [[7106.0, 8322.0, 6384.0], [6764.0, 8664.0, 72...
Length: 2042, dtype: object

In [9]:
df[B_P_name[0]]=series_1_x
df[B_P_name[1]]=series_1_y
df[B_P_name[2]]=series_1_z
df

,Birth,Death,Birth_Position_1_X,Birth_Position_1_Y,Birth_Position_1_Z
0,-149.486092,-117.558970,4978.0,9652.0,7334.0
1,-120.929424,-63.183917,7372.0,9310.0,5586.0
2,-53.969427,-52.928207,5738.0,3914.0,4332.0
3,-59.401041,-52.901534,5282.0,1710.0,12426.0
4,-62.903082,-51.385061,6042.0,3800.0,5282.0
...,...,...,...,...,...
2037,-62.903082,453.525445,4256.0,9576.0,11362.0
2038,-61.779572,459.283974,8854.0,8056.0,9272.0
2039,-67.039383,465.464624,4408.0,950.0,11552.0
2040,-113.290907,468.427127,8360.0,7562.0,5966.0
2041,-59.401041,503.551172,7106.0,8322.0,6384.0

In [10]:
D_P_name=["Death_Position_1_X","Death_Position_1_Y","Death_Position_1_Z","Death_Position_2_X","Death_Position_2_Y","Death_Position_2_Z"]
data_D_P_1_x=[]
data_D_P_1_y=[]
data_D_P_1_z=[]
data_D_P_2_x=[]
data_D_P_2_y=[]
data_D_P_2_z=[]

for i in range(L):
    data_D_P_1_x.append(D_P[i][0][0])
    data_D_P_1_y.append(D_P[i][0][1])
    data_D_P_1_z.append(D_P[i][0][2])
    data_D_P_2_x.append(D_P[i][1][0])
    data_D_P_2_y.append(D_P[i][1][1])
    data_D_P_2_z.append(D_P[i][1][2])
    
series_d_1_x = pd.Series(data=data_D_P_1_x)
series_d_1_y = pd.Series(data=data_D_P_1_y)
series_d_1_z = pd.Series(data=data_D_P_1_z)
series_d_2_x = pd.Series(data=data_D_P_2_x)
series_d_2_y = pd.Series(data=data_D_P_2_y)
series_d_2_z = pd.Series(data=data_D_P_2_z)

df[D_P_name[0]]=series_d_1_x
df[D_P_name[1]]=series_d_1_y
df[D_P_name[2]]=series_d_1_z
df[D_P_name[3]]=series_d_2_x
df[D_P_name[4]]=series_d_2_y
df[D_P_name[5]]=series_d_2_z

df

,Birth,Death,Birth_Position_1_X,Birth_Position_1_Y,Birth_Position_1_Z,Death_Position_1_X,Death_Position_1_Y,Death_Position_1_Z,Death_Position_2_X,Death_Position_2_Y,Death_Position_2_Z
0,-149.486092,-117.558970,4978.0,9652.0,7334.0,4902.0,9690.0,7144.0,4978.0,9652.0,7334.0
1,-120.929424,-63.183917,7372.0,9310.0,5586.0,7486.0,9120.0,5434.0,7372.0,9310.0,5586.0
2,-53.969427,-52.928207,5738.0,3914.0,4332.0,5320.0,3610.0,4408.0,5738.0,3914.0,4332.0
3,-59.401041,-52.901534,5282.0,1710.0,12426.0,5320.0,1672.0,12312.0,5282.0,1710.0,12426.0
4,-62.903082,-51.385061,6042.0,3800.0,5282.0,6080.0,3686.0,5434.0,6042.0,3800.0,5282.0
...,...,...,...,...,...,...,...,...,...,...,...
2037,-62.903082,453.525445,4256.0,9576.0,11362.0,4256.0,9576.0,11362.0,5092.0,9842.0,11628.0
2038,-61.779572,459.283974,8854.0,8056.0,9272.0,8854.0,8056.0,9272.0,8056.0,7638.0,9500.0
2039,-67.039383,465.464624,4408.0,950.0,11552.0,4940.0,1140.0,10792.0,4408.0,950.0,11552.0
2040,-113.290907,468.427127,8360.0,7562.0,5966.0,8360.0,7562.0,5966.0,8740.0,7068.0,6688.0
2041,-59.401041,503.551172,7106.0,8322.0,6384.0,7106.0,8322.0,6384.0,6764.0,8664.0,7296.0

In [11]:
df.to_csv(f'{EXCEL_DIR}{filename}_pd0_output.csv')

In [19]:
pair = pd0.nearest_pair_to(-59.401041,503.551172)
optimal_volume = pair.optimal_volume()
optimal_volume.boundary_points()

[[7106.0, 8322.0, 6384.0], [6764.0, 8664.0, 7296.0]]

AttributeError: 'PD' object has no attribute 'birth_position_symbols'