In [35]:
filename='63'

In [36]:
import homcloud.interface as hc
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.colors
import matplotlib.cm as cm
import math
import pandas as pd
plt.rcParams["font.family"] = "Arial"   # 使用するフォント
plt.rcParams["font.size"] = 14

In [37]:
DATA_DIR = "../data/model data/"
CACHE_DIR = "../data/cache/"
IMAGE_DIR = "../data/images/"
INVERSE_DIR = "../data/Inverse analysis/"
EXCEL_DIR = "../data/excel/"
PKL_DIR = "../data/pkl/"
TXT_DIR = "../data/txt/"

In [38]:
df_main= pd.read_table(f'{EXCEL_DIR}{filename}_pd0_output.csv', sep=',',header=0)
df_main.head()

,Unnamed: 0,Birth,Death,Birth_Position_1_X,Birth_Position_1_Y,Birth_Position_1_Z,Death_Position_1_X,Death_Position_1_Y,Death_Position_1_Z,Death_Position_2_X,Death_Position_2_Y,Death_Position_2_Z
0,0,-12.094509,-4.594443,1673.92,403.863,729.114,1651.420,378.047,736.786,1673.92,403.863,729.114
1,1,-2.711664,-2.368612,1308.56,431.836,986.133,1307.000,421.521,995.292,1308.56,431.836,986.133
2,2,-1.536203,-0.653496,388.44,470.730,168.480,396.277,474.225,168.739,388.44,470.730,168.480
3,3,-1.219284,-0.582013,326.04,196.560,1684.020,327.600,198.120,1683.240,326.04,196.560,1684.020
4,4,-1.219284,-0.582013,1336.92,291.720,1607.580,1335.360,293.280,1606.800,1336.92,291.720,1607.580

In [39]:
#ここからbirth,deathの順で切り取っていく
b_range=(-20,0)
d_range=(-20,0)
filename_output=filename+"_inverse_pd0"+"{}{}".format(str(b_range),str(d_range))
#bの範囲で指定
df_b1=df_main[df_main['Birth'] < b_range[1]]
df_b1

,Unnamed: 0,Birth,Death,Birth_Position_1_X,Birth_Position_1_Y,Birth_Position_1_Z,Death_Position_1_X,Death_Position_1_Y,Death_Position_1_Z,Death_Position_2_X,Death_Position_2_Y,Death_Position_2_Z
0,0,-12.094509,-4.594443,1673.92,403.863,729.114,1651.420,378.047,736.786,1673.92,403.863,729.114
1,1,-2.711664,-2.368612,1308.56,431.836,986.133,1307.000,421.521,995.292,1308.56,431.836,986.133
2,2,-1.536203,-0.653496,388.44,470.730,168.480,396.277,474.225,168.739,388.44,470.730,168.480
3,3,-1.219284,-0.582013,326.04,196.560,1684.020,327.600,198.120,1683.240,326.04,196.560,1684.020
4,4,-1.219284,-0.582013,1336.92,291.720,1607.580,1335.360,293.280,1606.800,1336.92,291.720,1607.580
...,...,...,...,...,...,...,...,...,...,...,...,...
3517,3517,-7.148208,56.928668,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3518,3518,-12.305599,59.908143,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3519,3519,-1.219284,61.112391,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3520,3520,-12.472897,63.002924,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3521,3521,-2.582337,64.780714,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [40]:
df_b=df_b1[df_b1['Death'] > b_range[0]]

In [41]:
df_b

,Unnamed: 0,Birth,Death,Birth_Position_1_X,Birth_Position_1_Y,Birth_Position_1_Z,Death_Position_1_X,Death_Position_1_Y,Death_Position_1_Z,Death_Position_2_X,Death_Position_2_Y,Death_Position_2_Z
0,0,-12.094509,-4.594443,1673.92,403.863,729.114,1651.420,378.047,736.786,1673.92,403.863,729.114
1,1,-2.711664,-2.368612,1308.56,431.836,986.133,1307.000,421.521,995.292,1308.56,431.836,986.133
2,2,-1.536203,-0.653496,388.44,470.730,168.480,396.277,474.225,168.739,388.44,470.730,168.480
3,3,-1.219284,-0.582013,326.04,196.560,1684.020,327.600,198.120,1683.240,326.04,196.560,1684.020
4,4,-1.219284,-0.582013,1336.92,291.720,1607.580,1335.360,293.280,1606.800,1336.92,291.720,1607.580
...,...,...,...,...,...,...,...,...,...,...,...,...
3517,3517,-7.148208,56.928668,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3518,3518,-12.305599,59.908143,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3519,3519,-1.219284,61.112391,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3520,3520,-12.472897,63.002924,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3521,3521,-2.582337,64.780714,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
#dの範囲で指定
df_d1=df_b[df_b['Death'] < d_range[1]]
df_d1

,Unnamed: 0,Birth,Death,Birth_Position_1_X,Birth_Position_1_Y,Birth_Position_1_Z,Death_Position_1_X,Death_Position_1_Y,Death_Position_1_Z,Death_Position_2_X,Death_Position_2_Y,Death_Position_2_Z
0,0,-12.094509,-4.594443,1673.92,403.863,729.114,1651.420,378.047,736.786,1673.92,403.863,729.114
1,1,-2.711664,-2.368612,1308.56,431.836,986.133,1307.000,421.521,995.292,1308.56,431.836,986.133
2,2,-1.536203,-0.653496,388.44,470.730,168.480,396.277,474.225,168.739,388.44,470.730,168.480
3,3,-1.219284,-0.582013,326.04,196.560,1684.020,327.600,198.120,1683.240,326.04,196.560,1684.020
4,4,-1.219284,-0.582013,1336.92,291.720,1607.580,1335.360,293.280,1606.800,1336.92,291.720,1607.580
5,5,-1.219284,-0.582013,786.24,580.320,329.940,784.680,578.760,330.720,786.24,580.320,329.940
6,6,-1.219284,-0.519475,1260.48,886.860,931.320,1260.480,886.860,931.320,1258.92,886.860,932.880
7,7,-1.219284,-0.519475,510.90,461.760,1048.320,510.900,463.320,1046.760,510.90,461.760,1048.320
8,8,-1.851233,-0.312150,1441.89,502.989,1075.290,1445.960,505.840,1076.400,1441.89,502.989,1075.290
9,9,-1.219284,-0.051608,890.76,214.500,1826.760,889.200,216.320,1825.720,890.76,214.500,1826.760

In [43]:
df_bd=df_d1[df_d1['Death'] > d_range[0]]
df_bd
#こいつが求めたい範囲

,Unnamed: 0,Birth,Death,Birth_Position_1_X,Birth_Position_1_Y,Birth_Position_1_Z,Death_Position_1_X,Death_Position_1_Y,Death_Position_1_Z,Death_Position_2_X,Death_Position_2_Y,Death_Position_2_Z
0,0,-12.094509,-4.594443,1673.92,403.863,729.114,1651.420,378.047,736.786,1673.92,403.863,729.114
1,1,-2.711664,-2.368612,1308.56,431.836,986.133,1307.000,421.521,995.292,1308.56,431.836,986.133
2,2,-1.536203,-0.653496,388.44,470.730,168.480,396.277,474.225,168.739,388.44,470.730,168.480
3,3,-1.219284,-0.582013,326.04,196.560,1684.020,327.600,198.120,1683.240,326.04,196.560,1684.020
4,4,-1.219284,-0.582013,1336.92,291.720,1607.580,1335.360,293.280,1606.800,1336.92,291.720,1607.580
5,5,-1.219284,-0.582013,786.24,580.320,329.940,784.680,578.760,330.720,786.24,580.320,329.940
6,6,-1.219284,-0.519475,1260.48,886.860,931.320,1260.480,886.860,931.320,1258.92,886.860,932.880
7,7,-1.219284,-0.519475,510.90,461.760,1048.320,510.900,463.320,1046.760,510.90,461.760,1048.320
8,8,-1.851233,-0.312150,1441.89,502.989,1075.290,1445.960,505.840,1076.400,1441.89,502.989,1075.290
9,9,-1.219284,-0.051608,890.76,214.500,1826.760,889.200,216.320,1825.720,890.76,214.500,1826.760

In [44]:
df_inv_1=df_bd[["Death_Position_1_X","Death_Position_1_Y","Death_Position_1_Z"]].reset_index()
df_inv_2=df_bd[["Death_Position_2_X","Death_Position_2_Y","Death_Position_2_Z"]].reset_index()
df_inv_1

   index  Death_Position_1_X  Death_Position_1_Y  Death_Position_1_Z
0      0            1651.420             378.047             736.786
1      1            1307.000             421.521             995.292
2      2             396.277             474.225             168.739
3      3             327.600             198.120            1683.240
4      4            1335.360             293.280            1606.800
5      5             784.680             578.760             330.720
6      6            1260.480             886.860             931.320
7      7             510.900             463.320            1046.760
8      8            1445.960             505.840            1076.400
9      9             889.200             216.320            1825.720

In [45]:
output_Coordinate = open(f'{INVERSE_DIR}{filename_output}.txt', 'w')
output_Coordinate.write('solid')
output_Coordinate.write(' ')
output_Coordinate.write('py')
output_Coordinate.write(' ')
output_Coordinate.write('3')
output_Coordinate.write(' ')
output_Coordinate.write('triangles')
output_Coordinate.write(' ')
output_Coordinate.write('9')
output_Coordinate.write(' ')
output_Coordinate.write('nodes')
output_Coordinate.write('\n')

L=len(df_inv_1)
for i in range(L):
    output_Coordinate.write('{} {} {} {} {} {}'.format('','facet','normal',0,0,0))
    output_Coordinate.write('\n')
    output_Coordinate.write('{} {} {}'.format('','outer','loop'))
    output_Coordinate.write('\n')
    output_Coordinate.write('{} {} {} {} {}'.format('','vertex',df_inv_1["Death_Position_1_X"][i],df_inv_1["Death_Position_1_Y"][i],df_inv_1["Death_Position_1_Z"][i]))
    output_Coordinate.write('\n')
    output_Coordinate.write('{} {} {} {} {}'.format('','vertex',df_inv_2["Death_Position_2_X"][i],df_inv_2["Death_Position_2_Y"][i],df_inv_2["Death_Position_2_Z"][i]))
    output_Coordinate.write('\n')
    output_Coordinate.write('\n')
    output_Coordinate.write('{} {}'.format('','endloop'))
    output_Coordinate.write('\n')
    output_Coordinate.write('endfacet')
    output_Coordinate.write('\n')

output_Coordinate.write('endsolid')
output_Coordinate.close()

In [46]:
import shutil
shutil.copyfile(f'{INVERSE_DIR}{filename_output}.txt',f'{INVERSE_DIR}{filename_output}.stl' )

'../data/Inverse analysis/63_inverse_pd0(-20, 0)(-20, 0).stl'